.page {
  display: flex;
}
.main-content {
  display: flex;
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
  flex-flow: column;
  background: grey;
}
.title {
  color: greenyellow;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
}
.page-description {
  color: yellow;
  text-align: center;
}
.btn-entrar {
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  display: flex;
  align-self: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
