html {
    background-color: black;
}

.input-username {
    display: flex;
    border-style: dotted;
    height: 40px;
    margin: auto;
}

.button {
    width:175px;
    height:65px;
    margin:20px auto;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 1px 2px #5e5d5b;
    text-align: center; 
    line-height: 65px;  
}

.red-bordered {
    border-style: dotted;
    border-color: red;
    display: flex;
    height: 100%;
}

.hidden {
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.right-container {
    display: flex;
}

.spacer {
    display: flex;
    height: 100%;
}

