:root {
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --colorBackground:#1e1529;
  --colorTextHeader:#1d55a8;
  --colorTextTitle:#9e6700;
  --colorTextDescription:#ffa400;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--colorBackground) !important;
  color: var(--colorTextHeader) !important;
}

.description {
  color: var(--colorTextDescription);
  font-family: fantasy;
  letter-spacing: 0.05rem;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: var(--colorTextTitle);
}
