.icon {
  display: flex;
  margin-top: 10px;
  align-self: center;
  box-shadow: black 4px 4px 12px 6px;
  width: 150px;
}
.title {
  color: #ff0000;
  text-align: center;
  padding-top: 10px;
  text-shadow: black 4px 4px;
}
.page-description {
  color: yellow;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: black 3px 3px;
}
.btn-entrar {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.head-info {
  display: flex;
}
.btn-left {
  display: flex;
  flex-flow: row-reverse;
  margin: auto;
  margin-right: 40px;
  height: 120px;
}
.btn-right {
  display: flex;
  margin: auto;
  margin-left: 40px;
  height: 120px;
}
.btn-descargar {
  margin-left: 2em;
}
.page-details {
  margin-bottom: 1em;
}

.main-content {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  background: grey;
  width: 80vw;
  align-items: center;
}

.carousel{
  display: flex;
  position: relative;
  align-self: center;
}

.carousel-item {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 10px;
}

.img-fluid {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
}

.carousel-fade .carousel-item {
  display: flex;
  opacity: 0;
  transition: opacity .75s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}


