.page {
  display: flex;
}
.main-content {
  display: flex;
  margin: auto;
  flex-flow: column;
  background: grey;
  width: 100vw;
  align-items: center;
}
.icon {
  display: flex;
  margin-top: 10px;
  align-self: center;
  box-shadow: black 4px 4px 12px 6px;
}
.title {
  color: #ff0000;
  text-align: center;
  padding-top: 10px;
  text-shadow: black 4px 4px;
}
.page-description {
  color: yellow;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: black 3px 3px;
}
.btn-entrar {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.carousel {
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.head-info {
  display: flex;
}
.btn-left {
  display: flex;
  flex-flow: row-reverse;
  margin: auto;
  margin-right: 40px;
  height: 120px;
}
.btn-right {
  display: flex;
  margin: auto;
  margin-left: 40px;
  height: 120px;
}
.btn-descargar {
  margin-left: 2em;
}
.page-details {
  margin-bottom: 1em;
}
