.page-bipolarr {
  display: flex;
}
.main-content-bipolar {
  display: flex;
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
  flex-flow: column;
  background: grey;
}
.title-bipolar {
  color: #ff0000;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  text-shadow: black 4px 4px;
}
.page-description-bipolar {
  color: yellow;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: black 3px 3px;
}
.btn-entrar-bipolar {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.carousel-bipolar {
  display: flex;
  align-self: center;
  width: 50px;
  height: 353px;
  margin-bottom: 1em;
  margin-top: 1em;
}
.buttons-bipolar {
  display: flex;
  margin: auto;
}
.btn-descargar-bipolar {
  margin-left: 2em;
}
.page-details-bipolar {
  margin-bottom: 1em;
}
